*{
    margin: 0;
}


/* Ignored CSS */

svg{
    visibility: hidden;
    position: absolute;
}


.navbar-menu-mobile{
    position: absolute;
    visibility: hidden;
}








/* Navbar Css */
nav{
    background-color: black;
}






.navbar{
    display: flex;
    color: whitesmoke;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-menu{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-search{
    width: 18%;
    background-color: hsla(0, 7%, 82%, 0.93);
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    border: none;
    outline: none;
    transition: 0.17s;
}

.navbar-search[type=text]:focus{
border: 1px solid whitesmoke;
border-radius: 8px;
}



/* Hero Section  */
.hero{
    background-color: green;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.hero-card{
    display: flex;
    padding: 25vh;
    height: 25vh;
    background-color: aqua;
    align-items: center;
}









/* Mobile CSS */

@media only screen and (max-width: 700px) {

   .navbar-menu{
    visibility: hidden;
    position: absolute;
   }

   .navbar-menu-mobile{
    background-color: black;
    position: relative;
    color: white;
    visibility: visible;
    width: 100%;
    border: 2px solid white;
    padding: 0;
    height: 100vh;
   }

   .navbar-menu-mobile li{
    list-style: none;
    display: flex;
    justify-content: center;
    border: 2px solid red;
   }


   .navbar-search{
    width: 75%;
   }

   svg{
    margin-left: -20px;;
    visibility: visible;
    position: static;
    height: 3.5rem;
   }
.hero{
    flex-direction: column;

}
.hero-card{
    margin: 20px;
    justify-content: center;
    padding: 30vw;
}

}