* {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  background-color: black;
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  height: 58px;
}
.navbar-contents {
  display: flex;
}
.navbar-logo-text {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar-text {
  margin-left: 0.5rem;
}

.navbar-refs {
  display: flex;
  align-items: center;
  width: 420px;
  justify-content: space-evenly;
}

.navbar-refs a {
  text-decoration: none;
  color: grey;
}

.navbar-refs a:hover {
  color: white;
}

.navbar-search-button {
  display: flex;
  align-items: center;
}
.navbar-search-button input {
  padding: 8px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
}
.navbar-search-button button {
  background-color: #1aa3ff;
  color: white;
  border: none;
  padding: 7px;
  font-size: 16px;
  width: 120px;
  margin-left: 20px;
  border-radius: 5px;
}
